/*--- BENEFITS---*/
.benefits{
    &__content{
        display: flex;
        flex-direction: column;
        margin: 0 -15px;
        @media screen and (min-width: 992px){
            flex-direction: row;
        }
    }
    &__col{
        padding: 15px;
        @media screen and (min-width: 992px){
            flex-basis: 50%;
            padding: 15px;
        }
    }
    &__col:first-child{
        padding-top: 0px;
        order: 2; 
        @media screen and (min-width: 992px){
            padding-top: 0px;
            order: 1; 
        }
    }
    &__col:last-child{
        padding-bottom: 0px; 
        order: 1;  
        @media screen and (min-width: 992px){
            order: 2; 
        }   
    }
    &__body{
        background-color: var(--color-primary);
        padding: 20px;
        @media screen and (min-width: 992px){
            padding: 54px;
        }   
    }
    &__intro{
        margin-bottom: 8px;
    }
    &__title{
        margin-bottom: 24px;
    }
}

/*--- /BENEFITS---*/

/*--- BENEFITS SUPPORT ---*/
.support{
    padding: 20px; 
    @media screen and (min-width: 992px){
        padding: 40px 10px;      
    }
    &__row{
        display: flex;
        flex-direction: column;
        margin: 0 -10px;
        @media screen and (min-width: 576px){
            flex-direction: row;
            flex-wrap: wrap;  
            margin-bottom: 30px;           
        }
    }
    &__row:last-child{
        @media screen and (min-width: 576px){
            margin-bottom: 0;
        }
    }    
    &__col{
        padding: 10px;
        margin-bottom: 30px;
        @media screen and (min-width: 576px){
            flex-basis: 50%; 
            margin-bottom: 0px; 
        }    
    }
    &__row:last-child > &__col:last-child{
        margin-bottom: 0;
    }
}
/*--- /SUPPORT ---*/

/*--- BENEFITS SUPPORT ITEM ---*/
.item-support{
    display: flex;
    flex-direction: row; 
    &__icon{
        fill: var(--color-primary);
        margin-right: 24px;  
        width: 32px;
        height: 32px; 
        margin-top: 5px;
        flex-shrink: 0;   
    }  
    &__title{
        font-family: var(--font-text);
        font-size: 28px;
        line-height: 32px;
        color: var(--color-primary);
        margin-bottom: 8px;
        @media screen and (min-width: 992px){           
            font-size: 32px;
            line-height: 41px;             
        }
    }
    &__text{
        font-family: var(--font-main);
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0em;
        color: var(--color-gray-light);
    } 
}
/*--- /BENEFITS SUPPORT ITEM ---*/