/*---  CUSTOMERS ---*/
.customers{
    &__title{
        margin-bottom: 24px;
        text-align: center;
    }
    &__description{
        margin-bottom: 70px;
        text-align: center;
    }
}

.customers-slider{
    overflow: hidden;
    position: relative;
    height: 50px;
   .swiper-slide {
        text-align: center;
    }    
}    
/*---  /CUSTOMERS ---*/