
   /*--- SWIPER SLIDER NAVIGATION AND PAGINATION custom style---*/
   
    /*--- SWIPER navigation bullets ---*/
    .swiper-pagination-bullet {
        border-radius: 0;
        width: 16px;
        height: 4px;
        background-color: var(--color-white);
        opacity: 0.5;
    }

    .swiper-pagination-bullet-active{
        width: 40px;
        height: 4px;
        background-color: var(--color-secondary-light);
        opacity: 1;
    }
    /*---  /SWIPER navigation bullets ---*/

    
    /*--- SWIPER navigation buttons ---*/
    /* Swiper buttons wrap */
    .my-navigation-buttons{
        display: flex;
        /*justify-content: center;*/
    }
    .my-navigation-buttons .my-button-prev{
        margin-right: 20px;
    }
    /*
    @media screen and (min-width: 992px){
        .my-navigation-buttons{        
            justify-content: end;
        }
    }*/
    /* Swiper buttons wrap */
    /* Swiper Next button*/
    .my-button-next{
        position: relative;
        width: 92px;
        height: 28px;        
    }   

    .my-button-next:hover{
        cursor: pointer;
    }
   
    .my-button-next:after{
        content: url(../images/arrow-right-orange.svg);
        position: absolute;
        display: block;
        width: 92px;
        height: 26px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .swiper-button-disabled.my-button-next:after{
        content: url(../images/arrow-right-gray.svg);
        width: 52px;
        height: 26px;
    }

    .swiper-button-disabled.my-button-next:hover{
        cursor: default;
    }
    /* /Swiper Next button*/
    /* Swiper Prew button*/
    .my-button-prev{
        position: relative;
        width: 92px;
        height: 28px;
    }

    .my-button-prev:hover{
        cursor: pointer;
    }

    .my-button-prev:after{
        content: url(../images/arrow-left-orange.svg);
        position: absolute;
        display: block;
        width: 92px;
        height: 26px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .swiper-button-disabled.my-button-prev:after{
        content: url(../images/arrow-left-gray.svg);
        width: 52px;
        height: 26px;
    }

    .swiper-button-disabled.my-button-prev:hover{
        cursor: default;
    }
    /* /Swiper Prew button*/
    /*--- /SWIPER navigation buttons---*/


    /*--- SWIPER pagination progressbar ---*/
    .swiper-pagination-progressbar {
        background-color: var(--color-gray-middle);    
        position: static;      
    }
        .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
        background-color: var(--color-secondary);  
    } 
    /*--- /SWIPER pagination progressbar ---*/

    /*--- SWIPER pagination fraction ---*/
    .space-fraction{
        color: var(--color-black);
        font-size: 12px;
        font-weight: 400;
        line-height: 26px;
        font-family: var(--font-main);        
        text-align: center;
    }
    .swiper-pagination-current{
        color: var(--color-black);
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
    }
    .swiper-pagination-total{
        color: var(--color-gray-middle);
        font-size: 16px;
    }
    /*--- /SWIPER pagination fraction ---*/


    /*--- SWIPER scrollbar ---*/
    .swiper-horizontal>.swiper-scrollbar{
        /*width: 160px;*/
        /*margin: 10px auto 25px auto;*/
        /*position: static;   */ 
    }
    @media screen and (min-width: 1024px){
        .swiper-horizontal>.swiper-scrollbar{
            /*margin: 53px auto 7px auto;  */       
        }
    }

    .swiper-scrollbar {
        border-radius: 0px;
        background-color: var(--color-gray-middle);
    }

    .swiper-scrollbar-drag {
        background-color: var(--color-secondary);
        border-radius: 0px;    
    }
    /*--- /SWIPER scrollbar ---*/






   /*
    .slider__pagination{
        height: 50px;
    }  
  */    
 
 /*-------------------------------------------------------*/
 /*
.swiper {
    width: 600px;
    height: 300px;
    padding: 20px 0px;
}
*/

/*
.swiper{
    height: 393px;
    margin-bottom: 32px;
}

.swiper-pagination{
   
}

.slider__pagination{
    width: 160px;
    margin: 0 auto;
}

.spaces-slider{
    
    overflow: hidden;
    padding: 0px 5px 30px 5px;
    
    
}

/*Отключаем изображения стрелок из дефолтного слайдера*/
/*
.swiper-button-prev:after, .swiper-button-next:after{
    content: '';
}

*/


