/*--- FAQ ---*/
.faq{
    &__title{
        margin-bottom: 54px;
        text-align: center;
        @media screen and (min-width: 992px){           
            width: 580px;
            margin: 0 auto 54px;        
        }
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    &__col{
        padding: 15px;
        flex-basis: 100%;
        @media screen and (min-width: 992px){
            flex-basis: 33.33%;    
        }   
    }
    &__bottom{
        padding: 30px 0;
        text-align: center;
    }
}
/*--- /FAQ ---*/
/*--- ACCORDION ---*/
.accordion{
    &__item{
        padding-bottom: 20px;    
    }
    &__item-header{
        background-color: var(--color-white);
        padding: 42px 42px 63px 42px;
        text-align: center;
        font-family: var(--font-text);
        color: var(--color-black);
        font-size: 26px;
        font-weight: 400;
        line-height: 33px;
        position: relative;
        box-shadow: 0px 0px 24px 0px rgba(223,223,223,0.5);  
        transition: var(--transition-time); 
    }
    &__item-header::before{
        content: '';
        display: block;
        position: absolute;
        width: 64px;
        height: 48px;
        background-color: var(--color-secondary-light);
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        bottom: -24px;
        box-shadow: 0px 0px 24px 0px rgba(223,223,223,0.7); 
        transition: var(--transition-time); 
    }
    &__item-header:after{
        content: "";
        display: block;
        position: absolute;
        border: solid var(--color-white);
        border-width: 0 2px 2px 0;
        padding: 5px;
        transform: rotate(45deg) translateX(-50%);
        transition: border-color var(--transition-time);
        z-index: 5;
        left: 50%;
        bottom: -10px;       
    }
    
    &__item-header:hover{
        background-color: var(--color-secondary-light);
        color: var(--color-white);
        box-shadow: none;
        cursor: pointer;
    }
    
    &__item-header:hover:before{
        background-color: var(--color-white);
        box-shadow: 0px 0px 34px 0px rgba(221, 44, 0, 0.24);         
    }
    
    &__item-header:hover:after{
        border-color: var(--color-secondary-light);
    }
    
    &__item-header.active{
        background-color: var(--color-secondary-light);
        color: var(--color-white);
        box-shadow: none;
        cursor: pointer;
    }
    
    &__item-header.active:before{
        background-color: var(--color-white);
        box-shadow: 0px 0px 34px 0px rgba(221, 44, 0, 0.24); 
        
    }
    &__item-header.active:after{
        border-color: var(--color-secondary-light);
        transform: rotate(-135deg);
        transform-origin: 3px;
    }
    
    &__item-body{
        max-height: 0;
        overflow: hidden;
        transition: max-height var(--transition-time) ease-out;
        box-shadow: 0px 0px 24px 0px rgba(223,223,223,0.7); 
    }
    
    &__item-content{
        background-color: var(--color-white);
        font-family: var(--font-main);
        color: var(--color-black);
        padding: 42px;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        text-align: center;
        
    }
}
/*--- /ACCORDION ---*/