/*--- GALLERY ---*/
.gallery{
    @media screen and (min-width: 1200px){
        position: relative;  
        z-index: 1; 
    }
    &__headline{
        margin-bottom: 30px;
        @media screen and (min-width: 1024px){         
            margin-bottom: 56px;            
        }
        @media screen and (min-width: 1200px){
            position: absolute;
            left: 0;
            top: 56px;
            width: 100%;
            display: flex;
            justify-content: end;
            z-index: 99;
        }
    }
    &__header{        
        @media screen and (min-width: 1200px){
            width: 50%;
            background-color: var(--color-white);
            margin-left: auto;
            padding-left: 50px;
        }
    }
    
    &__title{
        margin-bottom: 30px;
        @media screen and (min-width: 1200px){
            margin-bottom: 56px;
        }
    }
}
/*--- /GALLERY ---*/

/*--- GALLERY SLIDER */
.gallery-slider{
    height: 350px;
    position: relative;
    overflow: hidden;
    @media screen and (min-width: 1200px){
        height: 605px;
        .swiper-slide {
            width: 380px;
            .gallery-slider__slide{
                position: absolute;
                height: 350px;
                width: 100%;
                bottom: 0;
                left: 0;      
            }
        }
        .swiper-slide.swiper-slide-active .gallery-slider__slide{
            height: 415px;         
        }
        .swiper-slide.swiper-slide-next .gallery-slider__slide{
            height: 100%; 
        }      
    }
    &__slide{
        height: 100%;       
    } 
    
    &__slide img{
        height: 100%;  
        width: 100%;
        display: block;
        object-fit: cover;     
    }     
}
/*--- /GALLERY SLIDER ---*/

