:root {	
    --color-black: #222831;
    --color-primary: #10375C;
    --color-primary-dark: #0D2C4A;
    --color-secondary: #DD2C00;
    --color-secondary-light: #FF5722;
    --color-gray: #6A6A6A;
    --color-gray-light: #9A9A9A;
    --color-gray-lighter: #F8F8F8;
    --color-gray-middle:  #DFDFDF;          
    --color-white: #fff;


    --font-main: 'Lato', sans-serif;
    --font-text:  'Lora', serif;
    --font-logo:  'Playfair Display', serif;
    --transition-time: 0.5s;
    --transition-time-longer: 1s;
 }